<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.dao.LiveDao">

    <insert id="createRoom" parameterType="Live">
         insert into live(username,title,image,name,crossfire,roomNumber,livetype) values(#{username},#{title},#{image},#{name},#{crossfire},#{roomNumber},#{liveType})
    </insert>

    <select id="selectRoom" resultType="Live" parameterType="String">
        select title,username,image,name,crossfire,roomNumber,livetype from live where username = #{username}
    </select>

    <update id="updateRoom" parameterType="Live">
        update live set
        <trim suffixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="crossfire != null and crossfire != ''">
                crossfire = #{crossfire},
            </if>
        </trim>

        where username = #{username}

    </update>

    <select id="selectListRoom" resultType="Live">
        select name,title,image,roomNumber,username,livetype from live
    </select>

    <select id="getRtmp" resultType="Live">
        select crossfire,name,username from live where roomNumber = #{roomNumber}
    </select>

    <select id="selectLiveType" parameterType="String" resultType="Live">
        select title,livetype from live where username = #{username}
    </select>

    <select id="queryBuyLive" parameterType="String" resultType="int">
        select count(1) from hp_orders where order_liveType = #{liveType} and username = #{userName}
    </select>

    <select id="queryStudentCourse" parameterType="String" resultType="Live">
        select
            distinct l.title,l.image,l.roomNumber,l.livetype,l.username
        from
            live l
                join
            hp_orders h
                on
            l.livetype = h.order_liveType
        where
            h.order_liveType in (select distinct order_liveType from hp_orders where username = #{username})
    </select>

<!--    <resultMap id="queryStudentCourse" type="Live">-->
<!--        <result property="title" column="title"/>-->
<!--        <result property="image" column="image"/>-->
<!--        <result property="roomNumber" column="roomNumber"/>-->
<!--        <result property="livetype" column="livetype"/>-->
<!--    </resultMap>-->

</mapper>
