<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.dao.LoginMapper">

    <!--根据用户名查找用户名和密码-->
    <select id="Login"   resultType="com.hp.pojo.UserLogin">
        select id,username ,password,token from userlogin where username=#{username}
    </select>

    <!--根据用户名查询数据库中是否已有用户名记录-->
    <select id="selectbyUsername" resultType="int">
        select count(*)from userlogin where username=#{username}

    </select>

    <!--添加用户名和密码和其他详细信息-->
    <insert id="addUser" parameterType="com.hp.pojo.UserLogin">
        insert into userlogin(username,password,realName,sex,idCard,tel,email,token)
        value(#{username},#{password},#{realName},#{sex},#{idCard},#{tel},#{email},#{token  })
    </insert>

    <!-- 添加用户备注密码-->
    <update id="updateRemarkByUsername">
         update userlogin set remark=#{remark} where username=#{username}
    </update>

    <!--//查询用户的token-->
    <select id="selectUserToken" resultType="String" parameterType="String">
        select token from userlogin where username = #{username} and password = #{password}
    </select>


    <insert id="createUser" parameterType="UserLogin">
        insert into userlogin(username, password, token) values (#{username},#{password},#{token})
    </insert>



</mapper>
