<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.dao.LoginMapper">

    <!--根据用户名查找用户名和密码-->
    <select id="Login"   resultType="com.hp.pojo.UserLogin">
        select id,username ,password from userlogin where username=#{username}
    </select>

    <!--根据用户名查询数据库中是否已有用户名记录-->
    <select id="selectbyUsername" resultType="int">
        select count(*)from userlogin where username=#{username}

    </select>

    <!--添加用户名和密码-->
    <insert id="addUser" >
        insert into userlogin(username,password) value(#{username},#{password})
    </insert>

   <!-- 添加用户备注密码-->
    <update id="updateRemarkByUsername">
         update userlogin set remark=#{remark} where username=#{username}
    </update>

</mapper>