<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.dao.SecKillDao">

    <resultMap id="base_map" type="com.hp.pojo.SecKillProduct">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="title" property="title"/>
        <result column="product_pic" property="productPic"/>
        <result column="stock" property="stock"/>
        <result column="teacher_name" property="teacherName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime" />
    </resultMap>

    <!--查询秒杀商品-->
    <select id="querySecKillPro" resultMap="base_map">
        SELECT
            id,
            product_id,
            title,
            product_pic,
            stock,
            teacher_name,
            start_time,
            end_time
        FROM
            t_seckill_product
        WHERE
            start_time <![CDATA[ >= ]]> #{yesterday}
            AND end_time <![CDATA[ >= ]]> #{now}
            AND stock > 0
            <if test="list != null and list.size()>0">
                AND id not in
                <foreach collection="list" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>
