<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.dao.VideoDao">
    <insert id="inserVideo" parameterType="com.hp.pojo.Video" >
        insert into video (name,url,lujing,filetype,videoname) values (#{name},#{url},#{lujing},#{filetype},#{videoname})
    </insert>
    
    <select id="selectVideoCount" parameterType="com.hp.utils.Info" resultType="Integer">
        select count(1) from video
        <where>
            <if test="filetype!=null and filetype!=''">
                filetype=#{filetype}
            </if>
            <if test="videoname!=null and videoname!=''">
                and videoname like '%${videoname}%'
            </if>
        </where>
    </select>
    
    <select id="selAllOrders" parameterType="com.hp.utils.Info" resultType="com.hp.pojo.Video">
        select * from video
        <where>
            <if test="filetype!=null and filetype!=''">
                filetype=#{filetype}
            </if>
            <if test="videoname!=null and videoname!=''">
                and videoname like '%${videoname}%'
            </if>
        </where>
         limit #{startRow},#{size}
    </select>
</mapper>